body {
    margin: 0 auto 0 auto;
    text-align:center;
    background-color: #61b6e8;
    min-height: 1200px;
}

div {
    text-align: center;
}

#main {
    background-color: white;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 7px;
    height: 950px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    padding-top: 40px;
}

.form-check-input {
    display: block;
    margin: 50px auto;
    width: 200px;
}

img {
    display: inline-block;
    margin: 50px auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.107);
}

button {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.107);
}

#btnLogout {
    text-align: right;
    margin: 15px 15px 0 0;
}

#start_stop {
    font-size: 20px;
    margin-top: 15px;
}
