/* @font-face {
    font-family: 'customFont';
    src: url("AntipastoPro_trial.ttf");
} */

body {
    margin: 0 auto 0 auto;
    text-align:center;
    background-color: #61b6e8;
}

#login {
    background-color: white;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-bottom: 30px;
    border-radius: 7px;
    height: 400px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 35px;
    padding-top: 40px;
    font-family: customFont;
}

input {
    text-align: center;
    color: rgb(109, 107, 107);
    border: 2px solid #ccc;
    background-color: #ebebeb;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.107);
}

/*Type of inputs forms*/
.mb-3{
    margin: 0 auto 0 auto;
    width: 80%;
}
input:hover {
    background-color: #dcdcdce7;
}
input:focus {
    outline: none !important;
    background-color: #dcdcdce7;
}

button {
    cursor: pointer;
}
button:hover {
    background-color: #dcdcdce7;
}

p {
    font-size: 20px;
    color: rgb(184, 49, 49);
    margin-top: 10px;
    font-family: customFont;
}